* {
    /* outline: 1px solid green !important; */
    padding: 0%;
    margin: 0%;
}

body{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #2b231f;
}

.autoriz_bl{
    width: 600px;
    height: 450px;
    margin: 40px 0 0 0;
    padding: 60px 0px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
    box-shadow: 0px 0px 20px 3px rgba(66, 45, 37, 0.622);
    position: relative;
    
}

.back_btn{
    width: 60px;
    height: 60px;
    position: absolute;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    top: 20px;
    left: -100px;
}

.autoriz_bl h1{
    width: 100%;
    font-size: 40px;
    font-family: "Ysabeau Infant", serif;
    font-weight: 500;
    font-style: i;
    color: #2b231f;
    text-align: center;
    justify-content: space-around;
    margin-bottom: 30px;
}

.form_bl{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 90%;
    /* box-shadow: 0px 0px 10px 3px rgb(214, 210, 210);
    border-radius: 20px; */
}

.form_group{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    margin-bottom: 20px;
}

.form_group label{
    width: 100%;
    font-size: 25px;
    font-family: "Ysabeau Infant", serif;
    font-weight: 500;
    font-style: i;
    color: #2b231f;
    text-align: start;
    margin-bottom: 10px;
}

.form_group input{
    width: 100%;
    height: 40px;
    font-size: 25px;
    font-family: "Ysabeau Infant", serif;
    font-weight: 500;
    font-style: i;
    color: #2b231f;
    text-align: start;
    padding: 5px;

    border: none;
    border: 1px solid #382d27;
    border-radius: 0px;
}

.login_btn{
    width: 300px;
    height: 50px;
    border: 1px solid #382d27;
    background-color: #382d27;
    cursor: pointer;
    margin-top: 40px;
    padding: 5px;

    font-size: 30px;
    font-family: "Ysabeau Infant", serif;
    font-weight: 400;
    font-style: normal;
    color: #ffffff;
}

.register_link{
    width: 100%;
    font-size: 20px;
    font-family: "Ysabeau Infant", serif;
    font-weight: 400;
    font-style: i;
    color: #2b231f;
    text-align: center;
    margin-top: 10px;
}

.register_link a{
    font-size: 20px;
    font-family: "Ysabeau Infant", serif;
    font-weight: 400;
    font-style: i;
    text-align: center;
    text-decoration: none;
}

/* account */

.account_bl{
    width: 600px;
    height: 450px;
    margin: 40px 0 0 0;
    padding: 50px 0px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
    box-shadow: 0px 0px 20px 3px rgba(66, 45, 37, 0.622);
    position: relative;
    
}

.account_bl h1{
    width: 100%;
    font-size: 40px;
    font-family: "Ysabeau Infant", serif;
    font-weight: 500;
    font-style: i;
    color: #2b231f;
    text-align: center;
    justify-content: space-around;
    margin-bottom: 30px;
}

.cup_counter_bl{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
}

.counter_bl{

}

.counter_h{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 20px;
}

.counter_h h2{
    font-size: 25px;
    font-family: "Ysabeau Infant", serif;
    font-weight: 400;
    font-style: i;
    color: #2b231f;
    text-align: start;
    line-height: 30px;
}

.counter{
    font-size: 25px;
    font-family: "Ysabeau Infant", serif;
    font-weight: 400;
    font-style: i;
    color: #2b231f;
    text-align: start;
    line-height: 30px;
    margin-left: 20px;
}

.cup_icons_bl{

}

.cup_icons_bl img{
    width: 65px;
    opacity: 0.5;
}

.cup_icons_bl img.active {
    opacity: 1;
}

.free_coffee_btn:disabled {
    background-color: #79726e;
    border: 1px solid #79726e;
    cursor: not-allowed;
    color: #ffffff;
}

.free_coffee_btn{
    width: 120px;
    height: 40px;
    border: 1px solid #382d27;
    background-color: #382d27;
    cursor: pointer;
    padding: 5px;
    margin-top: 15px;

    font-size: 20px;
    font-family: "Ysabeau Infant", serif;
    font-weight: 400;
    font-style: normal;
    color: #ffffff;
    
}

.logout_btn{
    width: 300px;
    height: 50px;
    border: 1px solid #382d27;
    background-color: #382d27;
    cursor: pointer;
    margin-top: 140px;
    padding: 5px;

    font-size: 30px;
    font-family: "Ysabeau Infant", serif;
    font-weight: 400;
    font-style: normal;
    color: #ffffff;
}